$color-dark:#0f0f0f;
$color-light-dark: #202020;


header{
    position:fixed;
    width:100%;
    z-index: 10;
}

.banner{
    background-image: url("../images/BG\ Image.png");
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
     gap:90px;
    position: relative;
    
}

.nav {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:20px;
    border-bottom: 2px solid white;
    transition: 0.5s;
 ul{
    display:flex;
    gap:20px;
    list-style: none;
    
 }
}

li{
    color:white;
    
}



.kraj{
    height:170px;
    width:130px;

    
}


.opis1{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}
.zdjecia{
      

}
button{
    height:45px;
    width:140px;
    border-radius:50px;
    border:white;
    

}

.przycisk{
    margin-top:40px;

    
}

.kraj1{
    top:60px;
    height:170px;
    width:130px;
    position: relative;

}

.powitanie{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    

}



.fala{
    
    position:absolute; 
    width:100%;
    bottom:0px;
    background-image: url("../images/wave.svg");
    height:250px;
    background-size: cover;
    
       }
.burgir{
        background-color: transparent;
        display:none;
     }

.zegar{
    background-color:black;
    height:80px;
    width:80px;
    position:fixed;
    bottom:0;
    left:0;
    border-top-right-radius: 40%;
    z-index:5;
    line-height: 80px;
    text-align: center;
    
    
}

.bi-clock{
color:white;
font-size:45px;
left:13px;
top:585px;
z-index:5;


}

.tlozegarek{
    background-color: #202020;
    height:200px;
    width:350px;
    position:fixed;
    bottom:0;
    left:-100%;
    transition: 0.5s;
    border-top-right-radius:6% ;
    box-shadow:5px 5px 60px; 
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.godzina{
    color:white;
    font-size:24px;

}
.data{
    color:grey;  

}

.pogoda{
    width:100%;
    height:300px;
    background-color:rgb(241, 234, 234);
    bottom:0;
}

.wszystkie_zdj{

    display:flex;
    background-color: white;
  
    gap:20px;
    padding:20px;
    padding-top:10px;
    
   
    
    
}

.most{
    color:black;
    font-size:24px;
    margin-top:30px;
    margin-left:20px;
    

}

.cardinfo{
    padding:8px;
}

.temperatura,.wilgotnosc{
    display:inline-block;
}



.card{
    display:flex;
    align-items: center;
    flex:1;
    background-color: rgb(238, 231, 231);
    padding:10px;
    border-radius:5%;
    box-shadow:3px 3px 10px;
}

.card>img{
    width:70px;
    
}

.katowice{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:40px;
    padding:25px;
}

.ikonki {
    display:flex;
    font-size:40px;
    justify-content:space-around;    
    
}

.ikonki1{
    text-align: center;

}

.poprawa{
    position:relative;
left:13px;
}

.stopnie{
    
    color:orangered;  
    font-size: 37px;   

}

.hotels{
    text-align: center;
    height:100px;
    margin-top:50px;
    
    
}

.hotelik{
    font-size: 32px;
}

.hotelcard{
   
}



.hotelswrapper{
    
    display:flex;
    justify-content: center;
    gap:20px;
    padding-bottom:60px;
    

}

.hotelinfo{
    display:flex;
    justify-content: space-between;
}

.opis_hot{

    color:#202020;
    opacity:70%;
    display:flex;
    font-size: 14px;
}

.cena{
    display:flex;
    font-size: 16px;
}

footer{
    background-color: black;
    height:150px;
    
  }

.sociale{
    color:white;
    padding:20px;
    display:flex;
    justify-content: center;
    
    gap:40px;
    font-size:35px;  
}

.inne{
    color:white;
    display:flex;
    justify-content: center;
    gap:20px;
        
}

.privacy{
    display:flex;
    justify-content:center;
    color:white;
    gap:20px;
    background-color: black;
    padding-top:14px;
}

.c{
    background-color: black;
    color:white;
    padding-bottom:12px;
    padding-top:10px;
}
 



 @media(max-width:992px) {

.navi{
    position:fixed;
    top:0;
    background-color:black;
    font-size:32px;
    height:100%;
    left:-100%;
    transition: 0.5s;
}
    
  ul{
    display:block;
     padding:20px;
    margin-top:250px;

     }  

    .kraj1{
        display:none;
    }
    .kraj{
        display:none;
    }
 .burgir{
    display:block;
 }   

 .opis1{
    padding:20px;
 }
 }   
 
 .show{
    left:0;

 }

 .ukryj{
    left:-100%;
 }

 @media(max-width:992px) {

    .wszystkie_zdj{
        flex-direction: column;
        
    }

    .hotelswrapper{
        
            flex-direction: column;
            align-items: center;
        
    }

    .hotelcard{
        width:70%;
        max-width: 350px;
    }
    .hotelcard>img{
        width:100%;
    }

    .przycisk{
        display:flex;
        justify-content: center;
        margin-bottom:40px;
        
        
    }

    .banner{
        gap:0;
    }
    

    .powitanie{
        text-align: center;
    }

    .opis1{
        text-align: center;
    }
    
  

 }




 .inverted {
    background-color: rgb(124, 120, 120);
    
    
    
}
